__pycache__
config
datos
resultados
scripts

lib/rtklib/build/*.o
lib/rtklib/build/*.mk

lib/rtklib/RTKLIB/lib/iers/bcc
lib/rtklib/RTKLIB/lib/iers/gcc/*.o

*.aux
*.bbl
*.blg
*.log
*.pyc


*.cfg
*.txt
*.sh
